.container {
    height: 100%;
    display: flex;
    overflow: scroll;
    align-items: center;
    flex-direction: column;
    background-color:  rgba(240, 206, 176, 0.745);
}

.container>section {
    width: 100%;
    padding: 21px;
    display: flex;
    max-width: 700px;
    flex-direction: column;
}

.container section article {
    padding: 0;
    width: 100%;
    min-height: 140px;
    margin: 4px 0px 14px;
}

.container header div {
    width: 100%;
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.container header {
    display: flex;
    margin-bottom: 21px;
    flex-direction: column;
    align-items: flex-start;
}

.container h1 {
    margin: 0 0 7px 0;
}

.container header>p {
    margin: 0;
    opacity: 1;
    font-weight: 600;
    color: black;
    margin: 7px 0px 14px 0px;
}

.container header button,
.container header a {
    width: 30px;
    height: 30px;

    font-size: 14px;
    font-weight: 500;

    background: none;
    border-radius: 50%;
    border: 1px solid var(--border);

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 5px;
    margin: 0 0 0 7px;
}

.container header button:hover,
.container header a:hover {
    background-color: var(--border);
}

.container header button:hover img,
.container header a:hover img {
    filter: invert(1);
    opacity: 1;
}

.container header button:active {
    background-color: rgb(190, 190, 190);
}

/* Item form styling */

.container form {
    padding: 0;
    display: flex;
    border: none;
    max-width: 100%;
    box-shadow: none;
    flex-direction: column;
    align-items: center;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.container form input,
.container form textarea {
    width: 100%;
    padding: 14px;
    font-size: 14px;
    resize: vertical;
    border-radius: 5px;
    margin: 14px 0px 14px 0px;
    border: 1px solid var(--border);
}

.container form textarea {
    min-height: 50px;
}

.container form button {
    color: white;
    font-weight: 600;
    background: #00a0df;
    width: 40px;
    height: 40px;
    margin: 0 0 0 14px;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}